.track {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: rgba(255,255,255,0.2);
  z-index: 20;
}

.fill {
  height: 100%;
  background: #fe2c55;
  transition: width 0.1s linear;
}
